{{>partial_header}}
/**
 * Model exports for {{appName}}
 */

{{#models}}
{{#model}}
export { {{classname}}{{#isEnum}}, {{/isEnum}}{{^isEnum}}, is{{classname}}, validate{{classname}}, {{classname}}Example{{/isEnum}} } from "./{{classFilename}}.js";
{{/model}}
{{/models}}
